<div class="row justify-content-center content-div no-gutters" >
    <div class="col-9">
    <div class="row">
        <div class="col-sm-2 d-none d-lg-block form-overlay">
            <h3>Filter Teams</h3>
            <div id="fillTeams">
            </div>
        </div>
        <div class="col-sm-10" id="d3-content">
            <svg></svg>
            <div class="graph-labels">
                    <ul class="graph-labels-ul">
                        <li class="labels">
                            <input type="radio" name="graph-rb" id="positions-rb" onclick="changedataset('position')" checked/>
                            <label for="positions-rb">Position</label>
                        </li>
                        <li class="labels">
                            <input type="radio" name="graph-rb" id="points-rb" onclick="changedataset('points')"/>
                            <label for="points-rb">Points</label>
                        </li>
                        <li class="labels">
                            <input type="radio" name="graph-rb" id="wins-rb" onclick="changedataset('wins')"/>
                            <label for="wins-rb">Wins</label>
                        </li>
                        <li class="labels">
                            <input type="radio" name="graph-rb" id="draws-rb" onclick="changedataset('draws')"/>
                            <label for="draws-rb">Draws</label>
                        </li>
                        <li class="labels">
                            <input type="radio" name="graph-rb" id="losses-rb" onclick="changedataset('losses')"/>
                            <label for="losses-rb">Losses</label>
                        </li>
                    </ul>
                <div class="row align-items-center flex-md-row flex-column d-flex no-gutters labels-row2">
                    <ul class="graph-labels-ul">
                        <li class="labels">
                                <input type="radio" name="graph-rb" id="goalsfor-rb" onclick="changedataset('goalsfor')"/>
                                <label for="goalsfor-rb">Goals For</label>
                        </li>
                        <li class="labels">
                                <input type="radio" name="graph-rb" id="goalsagainst-rb" onclick="changedataset('goalsagainst')"/>
                                <label for="goalsagainst-rb">Goals Against</label>
                        </li>
                        <li class="labels">
                                <input type="radio" name="graph-rb" id="goaldiff-rb" onclick="changedataset('goaldiff')"/>
                                <label for="goaldiff-rb">Goal Difference</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div> 