{% extends 'base.html' %}

{% block sideform %}
    <div class="form-radios">
        <input type="radio" name="cb" id="none-cb" onclick="changeteamcompare('none')" checked/>
        <label for="none-cb" >None</label><br />
    </div>
    {% for data in dataset %}
        {% if data.teamID != teamData.teamID %}
            <div class="form-radios">
                <input type="radio" name="cb" id="{{ data.teamID }}""  onclick="changeteamcompare('{{data.teamID}}')"/>
                <!-- <label for="{{ data.teamID }}"  onmouseover="handleMouseOverForm('#{{ data.teamID }}-line')" onmouseout="handleMouseOutForm('#{{ data.teamID }}-line')">{{ data.teamName }}</label><br /> -->
                <label for="{{ data.teamID }}" >{{ data.teamName }}</label><br />
            </div>
        {% endif %}
    {% endfor %} 
{% endblock %}

{% block graphtags %}
<ul class="graph-labels-ul">
        <li class="labels">
            <input type="checkbox" name="graph-rb" id="positions-rb" onclick="changedataset(this)" checked/>
            <label for="positions-rb">Positions</label>
        </li>
        <li class="labels">
            <input type="checkbox" name="graph-rb" id="points-rb" onclick="changedataset(this)" />
            <label for="points-rb">Points</label>
        </li>
        <li class="labels">
            <input type="checkbox" name="graph-rb" id="wins-rb" onclick="changedataset(this)" checked/>
            <label for="wins-rb">Wins</label>
        </li>
        <li class="labels">
            <input type="checkbox" name="graph-rb" id="draws-rb" onclick="changedataset(this)" />
            <label for="draws-rb">Draws</label>
        </li>
        <li class="labels">
            <input type="checkbox" name="graph-rb" id="losses-rb" onclick="changedataset(this)" checked/>
            <label for="losses-rb">Losses</label>
        </li>
    </ul>
<div class="row align-items-center flex-md-row flex-column d-flex no-gutters labels-row2">
    <ul class="graph-labels-ul">
        <li class="labels">
                <input type="checkbox" name="graph-rb" id="goalsfor-rb" onclick="changedataset(this)" />
                <label for="goalsfor-rb">Goals For</label>
        </li>
        <li class="labels">
                <input type="checkbox" name="graph-rb" id="goalsagainst-rb" onclick="changedataset(this)" />
                <label for="goalsagainst-rb">Goals Against</label>
        </li>
        <li class="labels">
                <input type="checkbox" name="graph-rb" id="goaldiff-rb" onclick="changedataset(this)" checked/>
                <label for="goaldiff-rb">Goal Difference</label>
        </li>
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script>
    var positions = {{ teamData.position }};
    var wins = {{teamData.wins}};
    var draws = {{teamData.draws}};
    var losses = {{teamData.losses}};
    var goalsfor = {{teamData.goalsfor}};
    var goalsagainst = {{teamData.goalsagainst}};
    var goaldiff = {{teamData.goaldiff}};
    var points = {{teamData.points}};
    
    new_team_line("positions", positions, 1, 21, "#e90052");
    new_team_line("wins", wins, 100, 0, "#04f5ff");
    // new_team_line("draws", draws, 100, 0, "#ffffff");
    new_team_line("losses", losses, 100, 0, "#00ff85");
    // new_team_line("goalsfor", goalsfor, 100, 0, "#EAFF04");
    // new_team_line("goalsagainst", goalsagainst, 100, 0, "#e94a00");
    // new_team_line("points", points, 100, 0, "#9604ff");
    new_team_line("goaldiff",goaldiff, 80,-80,"#3785fa");

    function changedataset(checkbox){
        if(checkbox.checked){
            // var checked = $('input[name=cb]:checked').name();
            var str = checkbox.id;
            var index = str.indexOf("-rb");
            var newstr = str.substring(0,index);

            switch (newstr){
                case "positions":
                    new_team_line("positions", positions, 1, 21, "#e90052");
                    break;
                
                case "points":
                    new_team_line("points", points, 100, 0, "#9604ff");
                    break; 
                
                case "wins":
                    new_team_line("wins", wins, 100, 0, "#04f5ff");   
                    break;
                
                case "draws": 
                    new_team_line("draws", draws, 100, 0, "#ffffff");
                    break;

                case "losses":
                    new_team_line("losses", losses, 100, 0, "#00ff85");
                    break;
                
                case "goalsfor":
                    new_team_line("goalsfor", goalsfor, 100, 0, "#EAFF04");  
                    break;
                
                case "goalsagainst":
                    new_team_line("goalsagainst", goalsagainst, 100, 0, "#e94a00"); 
                    break;
                
                case "goaldiff":
                    new_team_line("goaldiff",goaldiff, 80,-80,"#3785fa"); 
                    break;
            }

            // if(checked != "none-cb"){

            // }



        }else{
            console.log(checkbox.id);
            var str = checkbox.id;
            var index = str.indexOf("-rb");
            var newstr = str.substring(0,index);
            console.log(".compare #"+newstr);

            d3.select(".compare#"+newstr).remove();
            d3.select(".mainTeam#"+newstr).remove();
        }
    }

    function new_team_line(id, datas, scaleupper, scalelower, color){
        var height = svgHeight - margin.top - margin.bottom;
        console.log(height);

        var newlinearr = [];

        var x = d3.scaleLinear()
        // .domain([0,datas.length])
        .domain([0,datas.length])
        .rangeRound([0, width]);

        var y = d3.scaleLinear()
        .domain([scalelower,scaleupper])
        .rangeRound([height, 0]);

        for(var i in datas) {
            i = parseInt(i);
            newlinearr.push([x(i), y(datas[i])]);
            i = i + 1;
        }

        var newline2 = d3.line();

        var svg = d3.select("svg")

        g.append("path")
        .datum(newlinearr)
        .attr("fill", "none")
        .attr("stroke", color)
        .attr("stroke-linejoin", "round")
        .attr("stroke-linecap", "round")
        .attr("stroke-width", 5)
        .attr("z-index", 0)
        .attr("d", newline2)
        // .on("mouseover", handleMouseOver)
        // .on("mouseout", handleMouseOut)
        .attr("class", "mainTeam")
        .attr("id", id);

    }

    function compare_team_line(id, datas, scaleupper, scalelower, color){
        var height = svgHeight - margin.top - margin.bottom;
        console.log(height);

        var newlinearr = [];

        var x = d3.scaleLinear()
        // .domain([0,datas.length])
        .domain([0,datas.length])
        .rangeRound([0, width]);

        var y = d3.scaleLinear()
        .domain([scalelower,scaleupper])
        .rangeRound([height, 0]);

        for(var i in datas) {
            i = parseInt(i);
            newlinearr.push([x(i), y(datas[i])]);
            i = i + 1;
        }

        var newline2 = d3.line();

        var svg = d3.select("svg")

        g.append("path")
        .datum(newlinearr)
        .attr("fill", "none")
        .attr("stroke", color)
        .attr("stroke-linejoin", "round")
        .attr("stroke-linecap", "round")
        .attr("stroke-width", 5)
        .attr("stroke-opacity", "0.3")
        .attr("z-index", 0)
        .attr("d", newline2)
        // .on("mouseover", handleMouseOver)
        // .on("mouseout", handleMouseOut)
        .attr("class", "compare")
        .attr("id", id);

    }

    function changeteamcompare(id){
        d3.selectAll(".compare").remove();
        var checkedData = getCheckedBoxes("graph-rb");
        {% for data in dataset %}
        if("{{data.teamID}}" == id){
            for(var i = 0; i < checkedData.length; i++ ){
                switch(checkedData[i]){
                    case "positions-rb":
                        compare_team_line("positions", {{data.position}}, 1, 21, "#e90052");
                        break;

                    case "points-rb":
                        compare_team_line("points", {{data.points}}, 100, 0, "#9604ff");
                        break;

                    case "wins-rb":
                        compare_team_line("wins", {{data.wins}}, 100, 0, "#04f5ff"); 
                        break;

                    case "draws-rb":
                        compare_team_line("draws", {{data.draws}}, 100, 0, "#ffffff"); 
                        break;

                    case "losses-rb": 
                        compare_team_line("losses", {{data.losses}}, 100, 0, "#00ff85");
                        break;

                    case "goalsfor-rb":
                        compare_team_line("goalsfor", {{data.goalsfor}}, 100, 0, "#EAFF04"); 
                        break;

                    case "goalsagainst-rb":
                        compare_team_line("goalsagainst", {{data.goalsagainst}}, 100, 0, "#e94a00"); 
                        break;

                    case "goaldiff-rb":
                        compare_team_line("goaldiff",{{data.goaldiff}}, 80,-80,"#3785fa"); 
                        break;
                }


            }
        }
        {% endfor %}
    }
</script>
{% endblock %}